h1{
    color: #800080;
    font-size: 50px;
    text-align: center;
}
p{
    color:#e60000;
font-size: 50px;
    text-align: center;
}
h3{
    color: #1900e6;
    font-size: 50px;
    text-align: center;
}
ul{
    color: #1900e6;
    font-size: 50px;
    text-align: center;
}
body {
background-image: url("https://c.tenor.com/fCvgrro-iaMAAAAd/luffy-gif-ep982-luffy.gif");
}
h1 {
    font-family: "Gill Sans", sans-serif;
}
p {
    font-family: "Gill Sans", sans-serif;
}
h3 {
    font-family: "Gill Sans", sans-serif;
}
ul {
    font-family: "Gill Sans", sans-serif;
}